---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "image",
});

const posts = data.stories.map((story) => {
  return {
    src: story.content.image.filename,
    date: new Date(story.published_at).toLocaleDateString("en-US", {
      dateStyle: "full",
    }),
    description: story.content.description,
    slug: story.full_slug,
  };
});

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="image-grid">
  {
    posts.map((post) => (
        <a href={`/${post.slug}/`}>
          <img src={post.src} alt={post.description} />
        </a>
    ))
  }
</div>
