---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "imageGrid",
});

const posts = data.stories.map((story) => {
  return {
    gallery: story.content.gallery,
    date: new Date(story.published_at).toLocaleDateString("en-US", {
      dateStyle: "full",
    }),
    slug: story.full_slug,
  };
});

const { blok } = Astro.props;
---

<ul {...storyblokEditable(blok)}>
  {
    posts.map((post) => (
      <>
        {post.gallery.map((image) => (
          <li>
            <img src={image.filename} />
          </li>
        ))}
      </>
    ))
  }
</ul>

<style>
  ul {
    --min: 15rem;
    --aspect-ratio: 4/3;
    --gap: .5rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    height: max(15vh, 15rem);
    flex: 1 1 var(--min);
  }

  @supports (aspect-ratio: 1) {
    li {
      aspect-ratio: var(--aspect-ratio);
      height: auto;
    }
  }

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
</style>
