---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "imageGrid",
});

const posts = data.stories.map((story) => {
  return {
    gallery: story.content.gallery,
    date: new Date(story.published_at).toLocaleDateString("en-US", {
      dateStyle: "full",
    }),
    slug: story.full_slug,
  };
});

const { blok } = Astro.props;
---

<ul {...storyblokEditable(blok)}>
  {
    posts.map((post) => (
      <>
        <div>{post.gallery.map((image) => <img src={image.filename} />)}</div>
      </>
    ))
  }
</ul>
