<footer class="page-footer">
  <a>Github</a>
</footer>

<style>
  footer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: auto;
    padding: 3em;
    background-color: #333;
    color: white;
  }
</style>
