<header>
  <nav class="page-nav" style="">
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/image-list/">Image List</a>
    <a href="/image-grid/">Image Grid</a>
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
    color: darkblue;
    font-size: 2.5rem;
    font-weight: 600;
  }
</style>
