---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div class="content-wrapper">
      <main>
        <h1>{pageTitle}</h1>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style>
  html {
    font-family: system-ui;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    grid-column: 2;
  }

  div {
    margin-bottom: 2rem;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr min(80ch, 60vw) 1fr;
    gap: 1rem;
  }
</style>
